html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  @include default-font();
  font-size: 16px;
  color: $primary-color;

  img {
    max-width: 100%;
    height: auto;
  }

  ul li {
    list-style: none;
  }
}

section {
  @include row();
}

.hidden {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
textarea,
button {
  @include default-font();
  appearance: none;
  border-radius: 0;
}

button {
  background-color: transparent;
}

select {
  @include default-font();
}

// Define max number of font sizes
@for $i from 1 through 6 {

  h#{$i},
  .h#{$i},
  .h#{$i} p {
    @include fontsizes(h#{$i});
  }
}


a {
  color: $secondary-color;
  transition: all 0.3s ease;
}

b,
strong,
strong * {
  font-weight: 600;
}

.row {
  @include row();
}

.container {
  max-width: map-get($site-widths, max-width) + $site-padding * 2;
  margin: 0 auto;
  padding: 0 $site-padding;
  width: 100%;

  @include responsive('desktop-s') {
    padding: 0 ($site-padding / 2);
  }
}

.container--small {
  @include responsiveMin('desktop-s') {
    max-width: map-get($site-widths, max-width) + $site-padding * 2;
    padding: 0 ($site-padding * 4);

    @include responsive('desktop-s') {
      padding: 0 60px;
    }
  }
}

.centerDiv {
  display: flex;
  align-items: center;
}

.iframe-wrapper {
  @include row();
  padding-top: 56.25%;
  position: relative;

  iframe {
    @include absolute();
  }
}

.site {
  overflow: hidden;
}

.btn-whatsapp {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 50px;
  border-radius: 15px;
  background: #25d366;
  text-align: center;
  display: inline-block;
  color: #fff;
  box-shadow: #333 0 0 10px;
  z-index: 1000;
  padding: 5px 5px 0;
}

@media only screen and (max-width: 1099px) {
  .btn-whatsapp {
    bottom: 10px;
    left: 10px;
  }
}

.btn-whatsapp svg {
  max-width: 80%;
}

.btn-whatsapp:hover {
  transform: translateY(-10%);
  transition: all 0.5s;
}