.image_fullwidth {
    &__image {
        aspect-ratio: 16/9;
        position: relative;
        @include fade(0, 50px, true, 1);
    }

    &__video {
        aspect-ratio: 16/9;
        @include fade(0, 50px, true, 1);

        video {
            width: 100%;
        }
    }
}