.button {
  @include fontsizes(h7);
  color: $white;
  background: $secondary-color;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;

  &:hover {
    background: $primary-color;
  }
}