.site-menu {
  display: flex;
  gap: 20px;

  @include  responsive(desktop-s) {
    display: none;
    flex-direction: column;
  }

  &__item {
    a {
      display: inline-block;
      text-decoration: none;
      font-weight: 600;
      color: $white;
      position: relative;
      text-wrap: nowrap;

      &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          background: none repeat scroll 0 0 transparent;
          height: 2px;
          background: $white;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
      }

      &:hover:after { 
          width: 100%; 
          left: 0; 
      }
    }
  }
}

.scrolled {
  .header .site-menu__item a {
    color: $primary-color;

    &::after {
      background: $primary-color;
    }
  }

  .responsive__btn span {
    background: $primary-color;
  }
}


.responsive__btn {
  position: relative;
  z-index: 11;
  width: 30px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  @include responsiveMin('desktop-s') {
    display: none;
  }

  & span {
    display: inline-block;
    background: $white;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
  }

  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2),
  & span:nth-child(3) {
    top: 9px;
  }

  & span:nth-child(4) {
    top: 18px;
  }  

  @include responsive('tablet-h') {
    display: block;
  }
}

.menu-responsive-open {
  .responsive__btn {
    span {
      background: $white;
    }

    span:nth-child(1) {
      top: 9px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 9px;
      width: 0%;
      left: 50%;
    }
  }  

  .site-menu {
    transform: translate(0,0);
  }
}