.team {
    &__title {
        @include fade(-50px, 0, true, 1);

        span {
            color: $third-color;
        }
    }

    &__text {
        width: 500px;
        max-width: 100%;
        margin-top: 12px;
        @include fade(-50px, 0, true, 2);
        @include text_block();
    }

    &__cont {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @include fade(0, 50px, true, 3);
    }

    &__item {
        flex: 1;
        min-width: calc(33.33% - 13.33px);
        max-width: calc(33.33% - 13.33px);

        @include responsive('tablet-v') {
            min-width: calc(50% - 10px);
            max-width: calc(50% - 10px);
        }

        &__image {
            aspect-ratio: 3/4;
            width: 100%;
            position: relative;
        }

        &__title {
            font-weight: 600;
        }
    }
}

.product {
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &-image {
        aspect-ratio: 5/3;
        position: relative;
        width: 100%;
    }
}