.team {
    &__title {
        @include fade(-50px, 0, true, 1);

        span {
            color: $primary-color;
        }
    }

    &__text {
        color: $light-black;
        width: 500px;
        max-width: 100%;
        margin-top: 12px;
        @include fade(-50px, 0, true, 2);
        @include text_block();
    }

    &__cont {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @include fade(0, 50px, true, 3);
    }

    &__item {
        flex: 1;
        min-width: calc(33.33% - 13.33px);
        max-width: calc(33.33% - 13.33px);

        @include responsive('tablet-v') {
            min-width: calc(50% - 10px);
            max-width: calc(50% - 10px);
        }

        &__image {
            aspect-ratio: 3/4;
            width: 100%;
            position: relative;

            img {
                border-radius: 20px
            }
        }

        &__title {
            text-transform: uppercase;
            margin-top: 8px;
            font-weight: 600;
            color: $dark-grey;
            text-align: center;
        }

        &__position {
            color: $light-black;
            margin-top: 3px;
            text-align: center;
        }
    }
}

.product {
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding-bottom: 14px;
        transition: all .3s ease;
        border-radius: 15px;

        &:hover {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(41, 94, 140, 0.5);

            img {
                opacity: 1;
            }
        }
    }

    &-image {
        aspect-ratio: 1;
        position: relative;
        width: 100%;

        img {
            object-fit: contain;
            opacity: .9;
        }
    }
}