.site-search {
  position: relative;
  width: 100%;

  .wc-block-product-search .wc-block-product-search__fields {
    flex-direction: row-reverse;
  }

  form {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;

    label {
    }

    .search-field {
      width: calc(100% - 25px);
      border-radius: 10px;
      height: 25px;
      line-height: 25px;
      padding: 0 8px;
      @include fontsizes(h6);
      color: $white;
      outline: 1px solid $white;
      background: transparent;

      &::placeholder {
        color: $white;
      }
    }

    .search-submit {
      width: 25px;
      height: 25px;
      background: none;
      text-indent: 500px;
      overflow: hidden;
      cursor: pointer;
      background: url(images/search.svg) center/contain no-repeat;
      margin: 0;
      filter: invert(100%);
    }
  }

  img {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: -1;
  }
}


.scrolled .site-search {
  .search-field {
    outline: 1px solid $primary-color;
    color: $primary-color;

    &::placeholder {
      color: $primary-color;
    }
  }

  .search-submit {
    filter: none;
    background-color: $primary-color;
    mask-image: url(images/search.svg) center/contain no-repeat;
    background: none;
  }
}