.site-search {
  position: relative;
  width: 100%;

  &__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(images/search.svg) center/contain no-repeat;
    filter: invert(100%);
  }

  .wc-block-product-search .wc-block-product-search__fields {
    flex-direction: row-reverse;
  }

  .search-form {
    display: block;
    opacity: 0;
    position: absolute;
    width: 200px;
    bottom: -40px;
    right: -25px;
    transition: opacity 0.4s ease;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    label {
    }

    .search-field {
      width: calc(100% - 25px);
      border-radius: 20px;
      height: 30px;
      line-height: 25px;
      padding: 0 8px;
      @include fontsizes(h6);
      color: $white;
      outline: 1px solid $white;
      background: transparent;
      padding-left: 34px;

      &::placeholder {
        color: $white;
      }
    }

    .search-submit {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8px;
      z-index: 1;
      width: 25px;
      height: 25px;
      background: none;
      text-indent: 500px;
      overflow: hidden;
      cursor: pointer;
      background: url(images/search.svg) center/contain no-repeat;
      margin: 0;
      filter: invert(100%);
    }
  }

  img {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: -1;
  }
}


.scrolled .site-search {
  &__icon {
    filter: none;
    background: none;
    background-color: $primary-color;
    mask-image: url(images/search.svg);
  }

  .search-form {
    bottom: -70px;
  }

  .search-field {
    outline: 1px solid $primary-color;
    color: $primary-color;
    background: $white;

    &::placeholder {
      color: $primary-color;
    }
  }

  .search-submit {
    filter: none;
    background: none;
    background-color: $primary-color;
    mask-image: url(images/search.svg);
  }
}