.site-logo {
    display: block;
    width: 200px;
    margin-right: 30px;

    img {
        width: 100%;
        height: auto;
    }
}

.site-footer {
    .site-logo {
        filter: brightness(0) invert(1);
    }
}

.scrolled {  
    .site-logo {
        width: 150px;
    }
}