.site-logo {
    display: block;
    width: 200px;
    position: relative;
    z-index: 10;

    @include responsive('mobile-v') {
        width: 120px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.site-footer {
    .site-logo {
        filter: brightness(0) invert(1);
    }
}

.scrolled {  
    .header .site-logo {
        width: 150px;
    }
}