.socials {
    display: flex;
    justify-content: center;
    gap: 15px;

    @include responsive('mobile-v') {
        display: none;
    }

    a {
        display: block;
        height: 30px;
        aspect-ratio: 1;
        position: relative;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
        opacity: 0.5;
        }

        path {
            fill: $white;
        }
    }
}