.logos {
    &__title {
        text-align: center;
        @include fade(0, 50px, true, 1);
    }

    &__cont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 40px;
        @include fade(0, 50px, true, 2);

        &__item {
            flex: 1 1 10%;
            padding-top: 10%;
            position: relative;

            img {
                object-fit: contain;
            }

            &:hover img {
                filter: grayscale(100%);
                transition: filter 0.3s ease;
            }

            @include responsive('mobile-h') {
                flex: 1 1 40%;
                height: 100px;
            }
        }
    }
}