.site-footer {
  background: $primary-color;

  &__cont {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include responsive('tablet-h') {
      flex-direction: column;
    }
  }

  &__copyright {
    margin-top: 20px;

    .copyright {
      padding-top: 20px;
      color: $white !important;
      border-top: 1px solid $white;
    }
  }

  &__title {
    @include fontsizes(h6);
    color: $primary-color;
    margin-bottom: 20px
  }

  .copyright {
    @include fontsizes(h6);
    color: $primary-color;
  }
}
