.products-listing {
    &__title {
        text-align: center;
    }

    &__cont {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 20% auto;
        gap: 5%;

        @include responsive('tablet-h') {
            grid-template-columns: 250px auto;
        }

        @include responsive('mobile-h') {
            grid-template-columns: 100%;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include responsive('tablet-h') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive('mobile-v') {
            grid-template-columns: 100%;
        }
    }

    &__filters {
        padding: 20px;
        border-radius: 4px;

        &__title {
            color: $dark-grey;
            font-weight: 600;
        }
    }
}

.filters-list {
    margin-top: 20px;

    li {
        a {
            text-decoration: none;
            color: $dark-grey;

            &:hover {
                color: $black;
            }
        }
    }
}