.products-listing {
    &__title {
        text-align: center;
    }

    &__cont {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 20% auto;
        gap: 5%;

        @include responsive('tablet-h') {
            grid-template-columns: 250px auto;
        }

        @include responsive('mobile-h') {
            grid-template-columns: 100%;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include responsive('tablet-h') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive('mobile-v') {
            grid-template-columns: 100%;
        }
    }

    &__filters {
        padding: 0;

        &__title {
            color: $dark-grey;
            font-weight: 600;
            padding-bottom: 10px;
            border-bottom: 2px solid $dark-grey;
        }

        &__list {
            margin-top: 20px;
            
            ul {
                padding-bottom: 20px;
                border-bottom: 2px solid #333333;
            }
        
            li {
                margin-bottom: 8px;
                margin-left: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                label {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: $dark-grey;

                    &:hover {
                        cursor: pointer;
                    }
                }

                input[type="checkbox"] {
                    appearance: none;
                    width: 16px;
                    height: 16px;
                    background-color: #ffffff; /* Fondo blanco */
                    border: 2px solid #295e8c; /* Borde azul */
                    border-radius: 4px;
                    cursor: pointer;
                    position: relative;
                    
                    &:checked {
                      background-color: #295e8c; /* Fondo azul al estar seleccionado */
                    }
                    
                    /* Estilo de la marca de verificación */
                    &:checked::before {
                      content: '';
                      position: absolute;
                      top: 50%;
                      left: 25%;
                      width: 4px;
                      height: 8px;
                      border: solid #ffffff;
                      border-width: 0 2px 2px 0;
                      transform: rotate(45deg) translate(-50%, -50%);
                    }
                  
                    /* Efecto hover */
                    &:hover {
                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        &__buttons {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            button {
                padding: 6px 10px;
            }
        }
    }
}