/// @type List
$default-font: 'Open Sans', sans-serif !default;
$secondary-font: 'Lora', serif !default;

/// @type Color
$primary-color: #295e8c !default;
$secondary-color: #176332 !default;
$third-color: #892c25 !default;
$white: #ffffff !default;
$grey: #dddddd !default;
$black: #000 !default;
$dark-grey: #333333 !default;
$dark-green: #233023 !default;

/// @type Length
$site-widths: (
  'full-width': 100%,
  'max-width': 1800px,
  //Site width without padding
  ) !default;

$site-padding: 60px;

$font-sizes: (
  'h1': 90px,
  'h2': 60px,
  'h3': 36px,
  'h4': 26px,
  'h5': 18px,
  'h6': 16px,
  'h7': 14px,
  ) !default;

$font-sizes-tablet: (
  'h1': 72px,
  'h2': 54px,
  'h3': 30px,
  'h4': 22px,
  'h5': 16px,
  'h6': 14px,
  'h7': 12px,
  ) !default;

$font-sizes-mobile: (
  'h1': 48px,
  'h2': 36px,
  'h3': 24px,
  'h4': 20px,
  'h5': 14px,
  'h6': 12px,
  'h7': 10px,
  ) !default;

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'demi': 600,
  'bold': 700,
  ) !default;


/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
  'mobile-v': 600px,
  'mobile-h': 750px,
  'tablet-v': 900px,
  'tablet-h': 1050px,
  'desktop-s': 1200px,
  'desktop': 1440px,
  ) !default;

$transition-default: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000
);
$transition-default-delay: .2s;